<style>
    .goods-item-list {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid #7D9A9E;
        border-radius: 5px;
        background: #A6D8DA;
        font-size: 13px;
    }
    .goods-item-list span {
        float: right;
        margin-left: 5px;
        border-radius: 5px;
        padding: 0 5px;
        background: #4C5569;
        color: #FFF;
    }
    .item-name {
        float: left;
    }
    .order-list-table tbody tr {
        display: none;
    }
    .order-list-table .is-open-all tr,
    .order-list-table .is-open-N tr.tr-status-N,
    .order-list-table .is-open-Y tr.tr-status-Y,
    .order-list-table .is-open-S tr.tr-status-S,
    .order-list-table .is-open-E tr.tr-status-E {
        display: table-row;
    }
    .tab-wrap button {
        margin: 5px 5px 20px;
        padding: 9px;
        border-radius: 5px;
        background: #AAA;
        border: 1px solid #A5A5A5;
        outline: none;
        color: #131313;
        text-shadow: 1px 1px 2px #EEE;
        cursor: pointer;
        box-shadow: 2px 2px 3px #1B1A1A;
    }
    .tab-wrap .current {
        background: #A6D8DA;
        color: #000;
    }
    .conten-wrap {
        min-width: 700px;
    }
    .search-wrap input {
        height: 21px;
    }
    .search-wrap {
        margin-bottom: 10px;
    }
    .order-list-wrap .top-wrap {
        background: #B2B9B0; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #656060 0%, #E0DFC5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #656060 0%,#E0DFC5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #656060 0%,#E0DFC5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: #FFF;
    }
    .order-list-wrap button {
        margin-bottom: 10px;
    }
    .order-list-wrap button:last-child {
        margin-bottom: 0;
    }
    td.oprate-btn-wrap {
        text-align: center;
    }
</style>
<div class="order-list-wrap">
    <div class="top-wrap clearfix">
        <div id="searchWrap" class="search-box-wrap">
            <div class="input-wrap">
                <label for="account">帳號</label>
                <input type="text" name="account" id="account" placeholder="請輸入帳號">
            </div>
            <div class="input-wrap">
                <label for="userName">收件者</label>
                <input type="text" name="userName" id="userName" placeholder="請輸入收件者">
            </div>
            <div class="input-wrap">
                <label for="orderNumber">訂單號</label>
                <input type="text" id="orderNumber" name="orderNumber" placeholder="請輸入訂單號(可為空)">
            </div>
            <!-- <div class="input-wrap">
                <label for="status">訂單狀態</label>
                <select id="status" name="status"></select>
            </div> -->
            <button class="minsize button pink search-btn" id="orderClear">清除</button>
            <button id="orderSearch" class="minsize button green">搜尋</button>
        </div>
        <h3 class="title">訂單管理</h3>
    </div>
    <div id="tab"></div>
    <table id="orderListTable" class="order-list-table">
        <thead>
            <tr>
                <th name="orderNumber">訂單號</th>
                <th name="account">會員帳號</th>
                <th name="name">收件者</th>
                <th name="phone">電話</th>
                <th name="status">處理狀態</th>
                <th name="goods">購買貨品</th>
                <th name="address">地址</th>
                <th name="updated_at">最後異動時間</th>
                <th name="oprate">操作</th>
                <th name="memo">備註</th>
            </tr>
        </thead>
        <tbody id="oderList" class="is-open-all"></tbody>
    </table>
</div>
<script>
    (function($){
        const order = {
            init: function() {
                var _this = this;
                _this.getOrderList();
               
                $('#orderSearch').on('click', function() {
                    var obj = {};
                    $('.order-list-wrap .search-box-wrap').find('input').each(function(index, item) {
                        var filedName = $(item).attr('name');
                        var filedValue = $(item).val();
                        obj[filedName] = filedValue;
                    })
                    _this.searchObject = obj;
                    _this.getOrderList(obj);
                });
                $('#orderClear').on('click', function(){
                    $('.order-list-wrap .search-box-wrap').find('input, select').each(function(index, ele) {
                        $(ele).val('');
                        if ($(this)[0]['nodeName'] === 'SELECT') {
                            member.changeLevelOption = '';
                        }
                    });
                });
                _this.setTabButton();
            },
            searchObject: {},
            orderData: [], // 訂單內容數據
            tabItemName: {
                all: '全部',
                N: '未接受',
                Y: '已接受（未出貨）',
                S: '出貨中',
                E: '完成訂單（已完成）',
                L: '完成訂單（強制取消再退貨）'
            },
            orderStatus: {
                'E':'訂單已完成',
                'L': '訂單已完成',
                'N': '未接受訂單',
                'Y': '已接受訂單',
                'S': '出貨中'
            },
            tabBindMethod: function(e) {
                e.preventDefault();
                var tabName = ($(this).prop('id')).replace('tab_', '');
                order.setTable(tabName);

                $("#oderList").removeAttr('class');
                $("#oderList").attr('class', 'is-open-' + tabName);
                $(this).addClass('current').siblings().removeClass('current');
            },
            setTabButton: function() {
                var _this = this;
                var tabWrap = $('<div class="tab-wrap"></div>');
                Object.keys(_this.tabItemName).forEach(function(item, index) {
                    var button = $('<button id="tab_'+ item +'">' + _this.tabItemName[item] + '</button>');
                    button.bind('click', _this.tabBindMethod);
                    if (!index) {
                        button.addClass('current');
                    }
                    tabWrap.append(button);
                });
                $(tabWrap).appendTo('#tab');
            },
            changeStatus: function(status, id) {
                var _this = this;
                var postData = {
                    id: id,
                    status: status
                };
                $.ajax({
                    url:"/api/admin/goods/order/status",
                    type: "POST",
                    data: JSON.stringify(postData),
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success:function(res){
                        if (res.code !== 200) {
                            alert(res.message);
                            return;
                        }
                        if (res.code === 200 && res.message) {
                            alert(res.message);
                        }
                        _this.getOrderList(_this.searchObject);
                        _this.setTable();
                    }}
                );
            },
            setStatus: function(status, id) {
                var _this = this;
                var goodsStatusOptions = $("<td></td>");
                goodsStatusOptions.text(_this.orderStatus[status]);

                return goodsStatusOptions;
            },
            setGoods: function(goodsItems) {
                var goodsList = $("<td></td>");
                if (!goodsItems.length) {
                    return goodsList;
                }
                goodsItems.forEach(function(item) {
                    $('<div class="goods-item-list clearfix"><div class="item-name">'+ item.name + "</div><span> x " + item.count +'</span></div>').appendTo(goodsList)
                });

                return goodsList;
            },
            setOprate: function(id, status) {
                var _this = this;
                var oprate = $('<td class="oprate-btn-wrap"></td>');

                var checkBtn = (status === 'N') ? $('<button class="green minsize">接受訂單</button>') : null;
                var cancelOrderBtn = (status === 'Y') ? $('<button class="gray minsize">未接受訂單</button>') : null;
                var shipmentBtn = (status === 'Y') ? $('<button class="green minsize">訂單已出貨</button>') : null;

                $(checkBtn).bind('click', function(e) {
                    e.preventDefault();
                    _this.changeStatus('Y', id);
                });
                $(cancelOrderBtn).bind('click', function(e) {
                    e.preventDefault();
                    _this.changeStatus('N', id);
                });
                $(shipmentBtn).bind('click', function(e) {
                    e.preventDefault();
                    if (confirm('是否確認, 已出貨訂單？')) {
                        _this.changeStatus('S', id);
                    }
                });

                var cancelBtn = (status === 'N') ? $('<button class="pink minsize">訂單取消</button>') : null;
                if(cancelBtn) {
                    $(cancelBtn).bind('click', function(e) {
                        var btnSelf = this;
                        e.preventDefault();
                        var cancelCheck = confirm('確認取消訂單？ 取消後無法繼續執行後續操作！！');
                        if (!cancelCheck) {
                            return;
                        }
                        $.ajax({
                            url:"/api/admin/goods/order/" + id,
                            type: "PUT",
                            success:function(res){
                                if (res.code !== 200) {
                                    alert(res.message);
                                }
                                if (res.message) {
                                    alert(res.message);
                                }
                                $(btnSelf).parents('tr').remove();
                            }}
                        );
                    });
                }
                
                var finishOrderBtn = (status === 'S') ? $('<button data-id="'+ id +'">完成訂單</button>') : null;
                if (finishOrderBtn) {
                    $(finishOrderBtn).bind('click', function(e) {
                        e.preventDefault();
                        if (confirm('是否確定結案？ \n 完成後即加入會員消費額度')) {
                            _this.changeStatus('E', id);
                        }
                    });
                }
                return oprate.append([checkBtn, shipmentBtn,cancelOrderBtn, cancelBtn, finishOrderBtn]);
            },
            setMemo: function(id, filedValue) {
                var tdContent = $('<td title="點擊兩下即可修改備註"></td>');
                var dbInput = $('<div>'+ (filedValue ? filedValue : '') +'</div>');
                dbInput.appendTo(tdContent);
                // 設定點擊兩下修改方式
                $(tdContent).bind('dblclick', function() {
                    var value = $(dbInput).text();
                    var input = $('<input value="' + value +'">');
                    $(dbInput).append(input);
                    // input 離焦
                    $(input).bind('blur', function() {
                        var inputVal = $(input).val();
                        if (inputVal && inputVal === filedValue) {
                            $(input).remove();
                            return;
                        };
                        var postData = {
                            id: id,
                            memo: inputVal
                        };
                        $.ajax({
                            url:"/api/admin/goods/order/memoFix",
                            type: "POST",
                            data: JSON.stringify(postData),
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success:function(res){
                                if (res.code !== 200) {
                                    alert(res.message);
                                    $(input).remove();
                                    return;
                                }
                                // succse
                                $(dbInput).text(inputVal);
                                $(input).remove();
                            }}
                        );
                    });
                    $(input).focus();
                });

                return tdContent;
            },
            getOrderList: function(paramObj = {}) {
                var _this = this;
                var paramsUrl = '';
                if (Object.keys(paramObj).length) {
                    var params = $.param(paramObj);
                    paramsUrl = '?' + params;
                }
                $.ajax({
                    url:"/api/admin/goods/order/list" + paramsUrl,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success:function(res){
                        if (res.message) {
                            alert(res.message);
                        }
                        if (!res || !res.data) {
                            return;
                        }

                        _this.orderData = res.data;
                        _this.setTable();
                    }}
                );
            },
            setTable: function(search = null) {
                var _this = this;
                $("#oderList").html('');
                _this.orderData.forEach((list, index) => {
                    _this.tr = $('<tr class="tr-status-'+ list.status  +'" data-index="'+ index +'"></tr>').appendTo("#oderList");
                    if (search !== 'all' && search && list.status !== search) {
                        return;
                    }

                    $('#orderListTable thead').find('th').each(function(index, ele) {
                        var filedName = $(ele).attr('name');

                        switch (filedName) {
                            case 'status':
                                $(_this.tr).append(_this.setStatus(list[filedName], list.id));
                                break;
                            case 'goods':
                                $(_this.tr).append(_this.setGoods(list[filedName]));
                                break;
                            case 'oprate':
                                $(_this.tr).append(_this.setOprate(list.id, list.status));
                                break;
                            case 'memo':
                                $(_this.tr).append(_this.setMemo(list.id, list[filedName]));
                                break;
                            default:
                                $(_this.tr).append('<td>'+ (list[filedName] ? list[filedName] : '') +'</td>');
                                break;
                        }
                        // $(_this.tr).append('<td></td>');
                    });
                });
            }
        }
        order.init();
    })(jQuery)
</script>