
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<style>
    .tab {
        position: relative;
        float: left; 
        margin-right: 5px;
        border-radius: 3px 3px 0 0;
        border: 1px solid #666;
        border-bottom: 0;
        padding: 5px 10px;
        background: #FFF;
        outline: none;
        cursor: pointer;
    }
    .tab.active {
        background: #666;
        color: #FFF;
    }
    td.images {
        width: 160px;
    }
    td.images .images-content {
        height: 110px;
        overflow-y: auto;
    }
    .goods-list-wrap .top-wrap {
        background: #B2B9B0; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #B2B9B0 0%, #828c65 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #B2B9B0 0%,#828c65 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #B2B9B0 0%,#828c65 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: #FFF;
    }
    .length-icon {
        position: absolute;
        top: -8px;
        right: -5px;
        padding: 0 2px;
        border-radius: 99em;
        height: 15px;
        background: rgb(253, 82, 82);
        color: #FFF;
    }
</style>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<div class="goods-list-wrap">
    <div class="top-wrap clearfix">
        <div class="search-box-wrap">
            <div class="input-wrap">
                <label for="startDate">上架時間</label>
                <input type="date" id="startDate" name="startDate">
            </div>
            <div class="input-wrap">
                <label for="endDate">下架時間</label>
                <input type="date" id="endDate" name="endDate">
            </div>
            <div class="input-wrap">
                <label for="keywords">商品名稱/描述</label>
                <input type="text" id="keywords" name="keywords" placeholder="請輸入關鍵字(可為空)">
            </div>
            <div class="input-wrap">
                <label for="searchGoodsType">商品分類</label>
                <select id="searchGoodsType" name="goodsType"></select>
            </div>
            <button class="minsize button pink search-btn" id="goodsClear">清除</button>
            <button class="minsize button green search-btn" id="goodsSearch">搜尋</button>
        </div>
        <h3 class="title">商品列表</h3>
        <div class="tip-text">＃ 選擇完商品分類, 上架中商品可調整產品順序</div>
        <div class="tip-text">＃ 下架、刪除商品, 會從購物車移除</div>
        <div class="tip-text">＃ 下架、刪除商品, 若已接受訂單, 無法修改需能供出貨</div>
    </div>
    <div id="btnWrap"></div>
    <table id="goodsTable" class="sortable">
        <thead>
            <tr>
                <th data-field="index">編碼</th>
                <th data-field="name">商品名稱</th>
                <th data-field="startDate">上架時間</th>
                <th data-field="endDate">下架時間</th>
                <th data-field="info" width="150">商品描述</th>
                <th data-field="amount">商品金額</th>
                <th data-field="goodsType">商品分類</th>
                <th data-field="total">庫存量</th>
                <th data-field="images">圖片</th>
                <th data-field="oprate">操作</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot id="goodsFoter" style="display: none;">
            <tr>
                <td colspan="100" style="text-align: center;background-color: #EEE;">拖曳結尾線</td>
            </tr>
        </tfoot>
    </table>
</div>
<script>

(function($){
    // 轉小駝峰
    function transformStr(str){
        var re=/-(\w)/g;
        return str.replace(re,function ($0,$1){
            return $1.toUpperCase();
        });
    }
    var goods = {
        setTabButtonStatus: false,
        fieldAry: [],
        tabCurrent: 'start',
        tabelList: {},
        tabItemName: {
            start: '上架中',
            unStart: '未開始',
            over: '已下架'
        },
        categories: {},
        optionCategories: '',
        categoriesList: function() {
            var _this = this;
            $.ajax({
                url:"/api/admin/categories",
                type: "GET",
                success:function(res){
                    errorHandle(res, true);
                    if (!res || !res.data) {
                        return;
                    }
                    _this.categories = res.data;
                    _this.goodsList();


                    var goodsTypeList = [];
                    goodsTypeList.push('<option value="">全部</option>');
                    for (const key in res.data) {
                        if (res.data.hasOwnProperty(key)) {
                            const name = res.data[key];
                            goodsTypeList.push('<option value="'+ key +'">'+ name +'</option>');
                        }
                    }

                    $('#searchGoodsType').html(goodsTypeList);
                }}
            );
        },
        clickMethod: {
            down: function(e, id) {
                var eventName = $(e).parents('tr').find('.name').text();
                var check = confirm('確定下架'+ eventName + '?'); 
                if (check) {
                    $.ajax({
                        url:"/api/admin/goods/down/" + id,
                        type: "PUT",
                        success:function(res){
                            if (res.code !== 200) {
                                alert(res.message);
                            }
                            goods.goodsList();
                        }}
                    );
                }
            },
            edit: function() {

            },
            delete: function(e, id) {
                var eventName = $(e).parents('tr').find('.name').text();
                var check = confirm('刪除'+ eventName + '?'); 
                if (check) {
                    $.ajax({
                        url:"/api/admin/goods/del/" + id,
                        type: "PUT",
                        success:function(res){
                            if (res.code !== 200) {
                                alert(res.message);
                            }
                            goods.goodsList();
                        }}
                    );
                }
            }
        },
        OprateBtn: {
            start: {
                method: [
                    { 
                        key: 'edit', btnName: '編輯',
                        clickEvent: function(e, id) {
                            location.href = '/admin/#/upCommodity?id=' + id;
                            location.reload();
                        }
                    },
                    { 
                        key: 'down', btnName: '下架',
                        clickEvent: function(e, id) {
                            goods.clickMethod.down(e, id);
                        } 
                    }
                ]
            },
            unStart: {
                method: [
                    {
                        key: 'edit', btnName: '編輯',
                        clickEvent: function(e, id) {
                            location.href = '/admin/#/upCommodity?id=' + id;
                            location.reload();
                        }
                    },
                    { key: 'delete', btnName: '刪除',
                        clickEvent: function(e, id) {
                            goods.clickMethod.delete(e, id);
                        } 
                    }
                ]
            },
            over: {
                method: [
                    { 
                        key: 'edit', btnName: '編輯',
                        clickEvent: function(e, id) {
                            location.href = '/admin/#/upCommodity?id=' + id;
                            location.reload();
                        }
                    },
                    { key: 'delete', btnName: '刪除',
                        clickEvent: function(e, id) {
                            goods.clickMethod.delete(e, id);
                        } 
                    }
                ]
            }
        },
        mainBtn: function() {
            var _this = this;
            $('#goodsTable td.oprate').find('.main-btn').on('click', function() {
                var dom = this;
                var method = $(this).data('method');
                var id = $(this).data('id');
                _this.OprateBtn[_this.tabCurrent].method.forEach(function(item) {
                    if (item.key === method) {
                        item.clickEvent(dom, id);
                    }
                });
            })
        },
        setTabButton: function(tabArray) {
            var _this = this;
            tabArray.forEach(function(item){
                tabName = (_this.tabItemName[item] || item);
                $("#btnWrap").append('<button class="js-'+ item +'  tab">' + tabName + '<span class="length-icon"></span>' +'</button>');
                $('.js-' + item).on('click', function() {
                    $(this).addClass('active');
                    $(this).siblings('button').removeClass('active');
                    _this.tabCurrent = item;
                    _this.setGoodsListTable();
                });
                $("#btnWrap").find('button')[0].click();
            })
            _this.setTabButtonStatus = true;
        },
        setGoodsListTable: function() {
            var _this = this;
            var field = $("#goodsTable").find('thead tr th');
            var trContent = [];
            _this.fieldAry = [];
            field.each(function() {
                var fieldName = $(this).data('field');
                if (!fieldName) {
                    return;
                }
                _this.fieldAry.push(fieldName);
            });
            // 設定td欄位
            var setTdContent = function(classNames, content) {
                return '<td class="'+ classNames +'">'+ content +'</td>';
            }
            // 數量
            Object.keys(_this.tabelList).forEach(function(key) {
                $('#btnWrap .js-' + key + ' .length-icon').text(_this.tabelList[key].length);
            });
            _this.tabelList[_this.tabCurrent].forEach(function(item, index) {
                var tdContent = [];
                _this.fieldAry.forEach(function(fieldName) {
                    // 沒有對應欄位名稱
                    if (!item[fieldName]) {
                        switch (fieldName) {
                            case 'index':
                                tdContent.push(setTdContent(fieldName, index + 1));
                                break;
                            case 'oprate':
                                var methodAll = _this.OprateBtn[_this.tabCurrent].method;
                                var content = [];
                                methodAll.forEach(function(list) {
                                    var btnName = list.btnName;
                                    var btnMethod = list.key;
                                    var clickEvent = list.clickEvent;
                                    var btnColor = btnMethod === 'edit' ? 'gray' : 'pink';
                                    var btn = (
                                        '<button class="main-btn button '+ btnColor +' minsize" data-method="'+ btnMethod +'" data-id="'+ item.id +'">'+
                                            btnName +
                                        '</button>'
                                    );
                                    $(btn).bind({
                                        click: list.clickEvent
                                    })
                                    content.push(btn);
                                })

                                tdContent.push(setTdContent(fieldName, '<div class="content">'+ content.join('') +'</div>'));
                                break;
                            default:
                                tdContent.push(setTdContent(fieldName, ''));
                                break;
                        }
                        return;
                    }
                    switch (fieldName) {
                        case 'images':
                            var images = JSON.parse(item[fieldName]);
                            var imagesDom = [];
                            images.forEach(function(imgItem) {
                                imagesDom.push('<a data-fancybox="gallery" href="'+ imgItem +'"><img src="'+ imgItem +'" width="150" height="100"></a>')
                            });
                            tdContent.push(setTdContent(fieldName, '<div class="images-content">'+ imagesDom.join('') +'</div>'));
                            break;
                        case 'goodsType':
                                var filedValue = item[fieldName];
                                // console.log();
                                // // tdContent.push(setTdContent(fieldName, ''));
                                tdContent.push(setTdContent(fieldName, _this.categories[filedValue]));
                                break;
                        default:
                            tdContent.push(setTdContent(fieldName, item[fieldName]));
                            break;
                    }
                });
                trContent.push('<tr class="tr" id="'+ item.id +'">'+ tdContent +'</tr>');
            });
            $('#goodsTable').find('tbody').html(trContent);
            
            _this.mainBtn();

            if (_this.optionCategories && _this.tabCurrent === 'start') {
                _this.dragmenufunction();
                $(goodsFoter).show();
            } else {
                _this.stopSort();
                $(goodsFoter).hide();
            }
        },
        // 停止拖曳選單
        stopSort: function() {
            var _this = this;
            if (!_this.startSort) {
                return;
            }
            $(".sortable").sortable("destroy");
            _this.startSort = false;
        },
        //拖曳選單
        dragmenufunction: function() { 
            var _this = this;
            _this.startSort = true;
            $(".sortable").sortable({
                cursor: "move",
                items :".tr",  //指定拖曳元件或ID及CLASS
                opacity: 0.6, //拖動時，透明度為0.6
                revert: false, //釋放時，增加動畫
                update : function(event, ui){ //更新排序之後
                    var toArray = $(this).sortable("toArray"); //更新拖曳後排序取id值
                    // console.log(toArray);
                    var postData = {
                        goodsType: _this.optionCategories,
                        sort: JSON.stringify(toArray)
                    };

                    //AJAX開始
                    $.ajax({
                        url:'/api/admin/goods/sort',
                        type: "POST",
                        data: JSON.stringify(postData),
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function(response) {
                            alert("已更動按鈕排序");
                        },
                        error: function() {
                            console.log('ajax error!');
                        }
                    })
                }
            });
        },
        goodsList: function(paramObj = {}) {
            var _this = this;
            var formData = new FormData();
            var paramsUrl = '';
            if (Object.keys(paramObj).length) {
                var params = $.param(paramObj);
                paramsUrl = '?' + params;
            }
            if (paramObj.goodsType) {
                _this.optionCategories = paramObj.goodsType;
            } else {
                _this.optionCategories = '';
            }
            $.ajax({
                url:"/api/admin/goods/list" + paramsUrl,
                type: "GET",
                success:function(res){
                    errorHandle(res, true);
                    if (!res || !res.data) {
                        return;
                    }
                    var tabArray = Object.keys(res.data);
                    _this.tabelList = res.data;
                    if (!_this.setTabButtonStatus) _this.setTabButton(tabArray);
                    _this.setGoodsListTable();
                }}
            );
        },
        init: function() {
            var _this = this;
            _this.categoriesList();

            $('#goodsSearch').on('click',function() {
                var params = {};
                $('.goods-list-wrap .search-box-wrap').find('input, select').each(function(index, ele) {
                    var filedName = $(ele).attr('name');
                    var filedValue = $(ele).val();
                    params[filedName] = filedValue;
                });
                _this.goodsList(params);
            });
            $('#goodsClear').on('click', function(){
                $('.goods-list-wrap .search-box-wrap').find('input, select').each(function(index, ele) {
                    $(ele).val('');
                });
            });
        }
    };
    goods.init();
})(jQuery)




</script>