@font-face {
    font-family: 'KulminoituvaRegular';
    src: url('/web/lib/kulminoituva.ttf');
}
* {
    outline: none;
}
html, body {
    height: 100%;
}
body {
    background-color: #F7F7F7;
}
.header {
    min-height: 163px;
    border-bottom: 1px solid #1d72af;
}
.header-top {
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    min-height: 30px;
    padding: 10px;
}
.header-mid {
    height: 133px;
    text-align: right;
}
.header-mid::after {
    display: inline-block;
    content: '';
    width: 0px;
    height: 100%;
    vertical-align: middle;
}
.go-home {
    color: #FFF;
    text-decoration: none;
    padding: 7px;
}
.go-home:hover {
    color: #EEE;
    text-decoration: underline;
}
.logo {
    float: left;
    box-sizing: border-box;
    padding: 29px;
    width: 250px;
    height: 133px;
    background: #e5eaea;
    color: #515c76;
    color: #5f2902;
    text-align: center;
    font-size: 38px;
    font-family: 'KulminoituvaRegular';
}
.login-wrap {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
}
.login-wrap .logout {
    margin-top: 15px;
    display: inline-block;
    width: 100px;
    border: 1px solid #1d72af;
    padding: 4px 9px;
    border-radius: 99em;
    color: #FFF;
    text-align: center;
    background: #000;
    cursor: pointer;
}
.login-wrap .logout:hover {
    border: 1px solid #1d72af;
    background: #333;
}
.login-wrap .welcome {
    /* text-align: right; */
    letter-spacing: 5px;
}
.login-wrap .coupon {
    margin-top: 10px;
    letter-spacing: 5px;
}
.login-wrap .coupon span {
    color: #CA9533;
}
.login-wrap .welcome span {
    color: #1D72AF;
    letter-spacing: 3px;
}
.regist-btn,
.login-btn {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 22px 12px;
    background-color: #fff;
    color: #666;
    border: 2px solid #666;
    border-radius: 7px;
    margin-bottom: 12px;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    transition: background-position .5s ease;
    font-family: system-ui;
    letter-spacing: 2px;
}
.regist-btn:after,
.login-btn:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #666;
}
.regist-btn:hover,
.login-btn:hover {
    background-color: #666;
    color: #FFF;
    border-color: #000;
}
@keyframes stripe-slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}
@keyframes stripe-slide2 {
    0% { background-position: 100% 0; }
    100% { background-position: 0% 0; }
}
.regist-btn:hover:after,
.login-btn:hover:after {
    background-image: repeating-linear-gradient(
        45deg,
        #FFF,
        #FFF 1px,
        transparent 2px,
        transparent 5px
    );
    border-top: 1px solid #000;
    animation: stripe-slide 6s infinite linear forwards;
}
.regist-btn:hover:after {
    animation: stripe-slide2 6s infinite linear forwards;
}
.nav-wrap {
    margin-bottom: 20px;
}
.nav {
    background: #293e4e;
    font-family: 'KulminoituvaRegular';
    box-shadow: 1px 1px 5px #1a2b2b;
    text-align: center;
}
.nav a {
    display: inline-block;
    padding: 10px 10px 0;
    height: 35px;
    color: #FFF;
    font-size: 24px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #4c2c0a;
}
.nav a:hover,
.nav a.current {
    background: #000;
    text-shadow: 1px 1px 2px #6eb4e5;
}
/* 共用 */
.button {
    display: inline-block;
    background: #E27575;
    border: none;
    padding: 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    cursor: pointer;
}
.minsize {
    padding: 5px 15px;
}
.button:hover {
    background: #E27B7B;
}
.pink {
    background: #E27575;
    text-shadow: 1px 1px 1px #9E3F3F;
    box-shadow: 1px 1px 5px #B6B6B6;
}
.pink:hover {
    background: #E27B7B;
}
.gray {
    background: rgb(80, 78, 78);
    box-shadow: 1px 1px 5px #B6B6B6;
}
.gray:hover {
    background: #807a7a;
}
button.blue {
    display: inline-block;
    background: #1D72AF;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #2484C9;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #165B8B;
    cursor: pointer;
}
button.blue:hover {
    background: #258CD6;
}
button.minsize {
    padding: 5px 15px;
}
.float-right {
    position: relative;
    float: right;
}

.has-new::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 99px;
    background-color: rgb(204, 61, 61);
    width: 10px;
    height: 10px;
    animation-name: blink;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 100;
}
@keyframes blink {
    0% {background-color: rgb(204, 61, 61);}
    100% {background-color: rgb(253, 4, 4);}
}
#userMsgDialog .content {
    border: 1px solid #8E8E8E;
}
.news-item {
    position: relative;
    border-bottom: 1px solid #8E8E8E;
    padding: 15px;
    font-size: 14px;
}
.news-item:last-child {
    border-bottom: 0;
}
.news-item span {
    color: #1D72AF;
}

button.msg-del-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
}
.header-mask-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.61);
    text-align: center;
    z-index: 1000000;
}
.header-mask-wrap::before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 0;
    height: 100%;
}
.header-mask-wrap .loader {
    display: inline-block;
    vertical-align: middle;
}
#levelMemDialog {
    line-height: 22px;
}
#levelMemDialog .level-info-msg {
    position: relative;
    border-radius: 5px;
    border: 1px solid #1A2B2B;
    padding: 10px 20px;
}
#levelMemDialog .level-now::before {
    position: absolute;
    top: -3px;
    left: -4px;
    content: 'Now';
    background: #D8824D;
    width: 30px;
    height: 20px;
    line-height: 20px;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    font-family: ui-serif;
    transform: rotate(-31deg);
}
.level-icon {
    margin-left: 5px;
    border-radius: 99em;
    padding: 1px 10px;
    background-color: rgb(236, 207, 43);
    color: #FFF;
    font-size: 14px;
}
.next-level {
    margin: 20px 0;
}
.w3-progress-container {
    position: relative;
    border-radius: 99em;
    width: 100%;
    height: 1.5em;
    background-color: #87CEEB;
}

.w3-progressbar {
    position: absolute;
    border-radius: 99em;
    width: 0%;
    height: 100%;
    line-height: 24px;
    background-color: #2196F3;
    color: #FFF;
    text-align: center;
    transition: width 2s;
}