<style>
    .mask {
        position: fixed;
        left: 0;
        top: 0;
        background: rgb(0 0 0 / 47%);
        width: 100%;
        height: 100%;
    }
    .mask:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        width: 0;
        height: 100%;
    }
    .change-psd {
        position: relative;
        left: 50%;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        margin-left: -250px;
        padding: 25px;
        border-radius: 5px;
        background: #FFF;
        width: 500px;
    }
    .content {
        padding-bottom: 20px;
    }
    .input-wrap span {
        vertical-align: -webkit-baseline-middle;
    }
    .acc-wrap {
        margin-bottom: 7px;
    }
    .psd-btn {
        float: right;
    }
    .close-btn {
        margin: 0 auto;
    }
    .common-button {
        text-align: center;
    }
    .delete {
        margin-right: 6px;
    }
</style>
<div class="member-list-wrap">
    <h3 class="title">會員列表</h3>
    <table id="memberTable">
        <thead>
            <tr>
                <th>帳號</th>
                <th>郵件</th>
                <th>建立日期</th>
                <th>更新日期</th>
                <th>層級</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="mask" class="mask" style="display: none;">
        <div id="changePsd" class="change-psd" style="display: none;">
            <div class="content clearfix">
                <div class="input-wrap acc-wrap clearfix">
                    <label for=""><span>修改帳號</span></label>
                    <input id="chPwdUser" type="text" disabled></input>
                </div>
                <div class="input-wrap clearfix">
                    <label for=""><span>輸入更改密碼</span></label>
                    <input type="password" name="password">
                </div>
                <div class="input-wrap clearfix">
                    <label for="captcha" name="captcha"><span>驗證碼</span></label>
                    <input type="text" name="captcha" id="captcha" autocomplete="off">
                    <label for=""><span></span></label>
                    <img id="captchaImg" alt="點擊產生圖片">
                </div>
                <button id="pwdChange" class="psd-btn pink">送出</button>
            </div>
            <button id="closeChPwdBtn" class="close-btn gray">關閉</button>
        </div>
    </div>
</div>
<script>
    var isONchange = false;
    var member = {
        stashBeforeLevel: null,
        changePsdId: null,
        changePsdName: '',
        changePsdOpen: function(id, name) {
            var _this = this;
            // 初次載入顯示驗證碼
            _this.captchImgMethod();
            var _this = this;
            $('#mask').show();
            $('#changePsd').show();
            _this.changePsdId = id;
            _this.changePsdName = name;
            $("#changePsd").find("#chPwdUser").val(name);
        },
        changePsdClose: function() {
            var _this = this;
            $('#mask').hide();
            $('#mask').children().hide();
            _this.changePsdId = null;
            _this.changePsdName = '';
        },
        commonBtn: function(id, name) {
            return (
                '<div class="common-button">' +
                    '<button class="delete pink minsize" data-id="'+ id +'" data-name="'+ name +'">刪除</button>' +
                    '<button class="change gray minsize" data-id="'+ id +'" data-name="'+ name +'">更改密碼</button>' +
                '</div>'
            );
        },
        tableCreatAfter: function() {
            var _this = this;
            // 欄位內function
            $('.delete').on('click', function() {
                var name = $(this).data('name');
                var id = $(this).data('id');
                var checkDel = confirm('確定移除' + name + "?");
                if (checkDel) {
                    $.ajax({
                        url:"/api/admin/destroy/" + id,
                        type: "PUT",
                        success:function(res){
                            if (res.code !== 200) {
                                alert(res.message);
                            }
                            _this.getUserList();
                        }}
                    );
                }
            });
            $('.change').on('click', function() {
                _this.changePsdOpen($(this).data('id'), $(this).data('name'));
            });
            $('select[name="level"]').on('change', function (e) {
                if (isONchange){
                    e.preventDefault();
                    return;
                }
                var levelSelect = $(this);
                var beforeLevel = levelSelect.data('level');
                var afterLevel = levelSelect.val();
                isONchange = true;
                setTimeout(function() {
                    if (beforeLevel !== afterLevel) {
                        var check = confirm('確定更改會員層級？');
                        var failMethod = function() {
                            levelSelect.val(beforeLevel);
                            isONchange = false;
                        };
                        var successMethod = function() {
                            levelSelect.data('level', afterLevel);
                            isONchange = false;
                        }
                        if(check) {
                            _this.UserChangeLevel(levelSelect.data('id'), afterLevel, successMethod, failMethod);
                            return;
                        }
                        failMethod();
                    }
                    isONchange = false;
                }, 10);
            });
        },
        UserChangeLevel: function(id, level, successMethod, failMethod) {
            formData = {
                id: id,
                level: level
            }
            $.ajax({
                url:"/api/admin/user/level",
                data: JSON.stringify(formData),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success:function(res){
                    alert(res.message);
                    if (res.code !== 200) {
                        failMethod();
                        return;
                    }
                    successMethod();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    failMethod();
                }}
            );
        },
        // 驗證碼圖片api
        captchImgMethod: function() {
            $.ajax({
                url:"/api/haix/flat?" + Math.random(),
                success:function(result){
                    $("#captchaImg").attr('src', result.img);
                }}
            );
        },
        // 全部會員列表(ajax)
        getUserList: function() {
            var _this = this;
            $.ajax({
                url:"/api/admin/userList",
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success:function(res){
                    if (res.code !== 200) {
                        alert(res.message);
                    }
                    if (!res.data || !res.data.userList) {
                        $('#memberTable').find('tbody').html('');
                        return;
                    }
                    var userList = res.data.userList;
                    var levelList = res.data.levelList;
                    var levelOption = [];
                    levelList.forEach(function(item){
                        levelOption.push('<option value="'+ item.id +'">'+ item.levelName +'</option>');
                    });
                    var levelSelect = '<select name="level">' + levelOption.join('') + '</select>';

                    if (res.data.userList.length) {
                        listDomAll = [];
                        res.data.userList.forEach(function(item, index) {
                            var listDom =
                                '<tr class="tr-'+index+'">'+ 
                                    "<td>" +item.name +"</td>"+
                                    "<td>" +item.email +"</td>"+
                                    "<td>" +item.created_at +"</td>"+
                                    "<td>" +item.updated_at +"</td>"+
                                    '<td class="level-'+ item.id +'">' + levelSelect +"</td>"+
                                    "<td>" +_this.commonBtn(item.id, item.name)+ "</td>"+
                                "</tr>";

                            $('#memberTable tbody').append(listDom);
                            $('#memberTable tbody .tr-' + index + ' select[name="level"]').val(item.level).data('level', item.level).data('id', item.id);
                        });

                        // $('#memberTable').find('tbody').html(listDomAll);
                        _this.tableCreatAfter();
                    }
                }
            });
        },
        init: function() {
            var _this = this;
            
            // 預先執行載入
            $("#closeChPwdBtn").on('click', function() {
                _this.changePsdClose();
            });
            $("#changePsd").on('click', function(e){
                e.stopPropagation(); 
            });
            $('.mask').on('click', function() {
                _this.changePsdClose();
            });
            $('#pwdChange').on('click', function() {
                // 獲取user
                var dataJSON = {
                    id: _this.changePsdId,
                    account: _this.changePsdName,
                    password: $('#changePsd').find("input[name='password']").val(),
                    captcha: $('#changePsd').find('#captcha').val()
                }
                $.ajax({
                    url:"/api/admin/changePwd",
                    data: JSON.stringify(dataJSON),
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success:function(res){
                        alert(res.message);
                        if (res.code === 200) {
                            _this.changePsdClose();
                        }
                    }}
                );
            });
            // 點擊產生驗證碼
            $("#captchaImg").on('click', function() {
                _this.captchImgMethod();
            });
            // 獲取user
            _this.getUserList();
        }
    };
    member.init();
</script>